.appBarContainer {
    margin: 0px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(149, 148, 148, 0.824);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appBarLeftContainer {
    display: flex;
    align-items: center;
    margin: 0;
}

.appBarLogo {
    margin: 0px;
    margin-left: 6px;
    font-family: Helvetica;
    font-size: 20px;
}

.appBarUserTitle {
    margin: 0px;
    margin-left: 6px;
    font-family: Helvetica;
    font-size: 20px;
}

.appBarRightContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}